.flex {
    display: flex;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    color:#c8dae6;
    text-decoration: none;
}

p {
    margin: 0;
}

.show {
    display: block !important;
}

body {
    margin: 0;
}

.highlight {
    font-weight: bold;
}

/* moblie */

.menu-icon {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
    background-color: #577c8e;
    text-align: right;
    padding-right: 12px;
}

.tools{
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

/* moblie */

.menu-icon {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
    background-color: #577c8e;
    text-align: right;
    padding-right: 12px;
}

.tools{
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

/* HEADER */

header {
    background-color: #0b111d;
}

header img {
    width: 20%;
}

header div {
    text-align: center;
    padding: 1rem;
    background-color: #0b111d;
}

.register.show {
    display: flex !important ;
}

/* FUNCTION BUTTON */

#home {
    position: fixed;
    right: 16px;
    bottom: 64px;
    background-color: #a3c5f2;
    color: #0b111d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 32px;
    cursor: pointer;
}

@keyframes shlow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#home.show {
    animation: shlow 0.5s ease-in-out;
}

#theme {
    position: fixed;
    right: 16px;
    bottom: 128px;
    background-color: #a3c5f2;
    color: #0b111d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: transform 1s;
}

#theme:hover {
    background-color: #a3c5f2;
    color: #0b111d;
    transform: rotate(180deg);
}

.dark {
    background-color: #a3c5f2 !important;
    color: #0b111d !important;
    transform: rotate(180deg);
}

#bionic {
    position: fixed;
    right: 16px;
    bottom: 192px;
    background-color: #a3c5f2;
    color: #0b111d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 32px;
    cursor: pointer;
}

/* NAVIGATION */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f2b41;
}

nav {
    border-top: 1px solid #0b111d;
    border-bottom: 1px solid #0b111d;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    background-color: #1f2b41;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    align-content: center;
}

nav li>a {
    padding: 0.8rem;
}

nav>left li{
    border-left: 1px solid #0b111d;
}

nav>left li:last-child {
    border-right: 1px solid #0b111d;
}

nav ul a {
    background-color: #a3c5f2;
    color: #1f2b41;
    transition: all 0.3s;
}

nav ul a:hover {
    background-color: #a3c5f2;
    color: #1f2b41;
    transition: all 0.3s;
}

nav>right>div>div {
    display: block;
    padding: 0.8rem;
    cursor: pointer;
}

nav>right>div>div:first-child {
    background-color: #a3c5f2;
    color: #1f2b41;
    border-radius: 3px;
}

nav>right>div>div:last-child {
    background-color: #1f2b41;
    color: #a3c5f2;
}

nav>right>div>div:last-child div {
    padding-left: 3px;
}

.search-box {
    border: 0;
    margin-left: 10px;
}

nav>right #show-login {
    border-right: 1px solid #0b111d;
}

/* ADS */

.ads {
    display: none;
}

/* LOGIN */

.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.4);
    z-index: 1;
}

.login>div {
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #334664;
    border: 1px solid #0b111d;
    border-radius: 3px;
}

.login>div>div:first-child {
    height: 75%;
    align-content: center;
    border-bottom: 1px solid #0b111d;
}

.login>div>div:first-child div {
    padding: 1rem;
}

.login>div>div:first-child input {
    width: 60%;
    border-radius: 3px;
}

.login>div>div:first-child p {
    width: 40%;
    color: #a3c5f2;
}

.login>div>div.flex {
    height: 25%;
}

.login>div>div.flex>div {
    width: 50%;
    align-content: center;
    text-align: center;
}

.login>div>div.flex>div>button {
    width: 40%;
    height: 40%;
    background-color: #1f2b41;
    color: #a3c5f2;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.login>div>p {
    color: #a3c5f2;
    font-size: 36px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* MAIN */

body {
    background-color: rgb(27, 27, 27);
}

main>div {
    margin: auto;
    width: 60%;
}

main>div img {
    width: 100%;
}

main>div:first-child {
    background-color: #1f2b41;
    border: 1px solid #0b111d;
    color:#a3c5f2;
}

main>div:first-child h1 {
    font-size: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
}

main>div:first-child>div.flex {
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 0;
}

main>div:last-child {
    background-color: #334664;
    border: 1px solid #0b111d;
}

.content {
    padding: 1rem;
}

.content p {
    color: #a3c5f2;
}

.content figcaption {
    text-align: center;
    font-size: smaller;
    opacity: 70%;
    color: #a3c5f2;
}

/* FOOTER */

footer {
    border-top: 1px solid #0b111d;
    border-bottom: 1px solid #0b111d;
    background-color: #a3c5f2;
    justify-content: space-between;
}

footer right span {
    text-align: center;
    align-content: center;
    padding-left: 10px;
    color: #0b111d;
}

footer a {
    display:block;
    padding: 0.7rem;
    color: #1f2b41;
}

footer a:hover {
    background-color: #4b6387;
    color: #a3c5f2;
    transition: 0.2s ease-in;
}

footer left img {
    height: 20px;
}

footer left {
    align-content: center;
}

footer left {
    border-left: 1px solid #0b111d;
}

footer right {
    border-right: 1px solid #0b111d;
    padding: 0.3rem;
}

footer right a:first-child {
    border-left: 1px solid #0b111d;
}

footer right a {
    border-right: 1px solid #0b111d;
}

footer right a:last-child {
    border-right: 0;
}