
.flex{
    display: flex;
    justify-content: space-between;

}

* {
    font-family:Arial, Helvetica, sans-serif;
}

    /* chỉnh ảnh */
 header img{
    width: 50%;
 }

 header>div{
    width: 100%;
    display: flex;
    justify-content: center;
 }

    /* chỉnh thanh công cụ */

nav{

    border-bottom: 1px solid;
    border-top: 1px solid;

}

 ul.menu{
    list-style-type: none;
    margin:0;
    padding: 0;

}

ul.menu>li{
    border-right: 1px solid;
    text-align: center;
}

ul.menu>li>a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: larger;
    padding: 15px 15px 10px 15px;
    text-align: center;
    height: 35px;
}

nav ul a:hover{
    color: red !important;
}

right>ul>li{
    border: none !important;
}

 /* chỉnh footer */

footer ul a:hover{
    color: red !important;
}

 footer{
    border-top: 1px solid ;
    border-bottom: 1px solid ;
 }

footer>right>ul{
    list-style-type: none;
}

footer>right>ul>li{
    border-right: 1px solid !important;

}

 footer>right>ul>li>a{
    display: block;
    text-decoration: none;
    color: black;
    font-size:smaller ;
    padding: 12px;
 }

 footer>right>ul>li:last-child{
    border: none !important;
 }

footer>left>span{
    margin-right: 10px ;
    font-size: smaller;

}

footer>left{
    align-items: center;
}

    /* chỉnh main */

div.col70 > div{
    border-bottom: 1px solid;
}

div.col70 > div:last-child{
    border: none;
}

section{
    width: 100%;
}
.col70{
    width: 70%;
}

.col15{
    width: 15%;
    position: relative;
}

    /* subject */

.title{
    margin-bottom: 0 ;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

    /* các mục nhỏ dưới subject */

div.product>ul{
    list-style-type: none;
    padding-left: 0;
    margin: 10px 10px 10px 0;
    width: 50%;
}


div.product>ul>li>a{
    padding: 5px 5px 0 0;
    color:black;
    text-decoration: none;
    font-size: 17px;
}


div.product>ul>li{
    height: 27px;
}

    /* nội dung chính */

.content>img{
   width: 100%;

}


div.content{
   width: 40%;
   border-right: 1px solid;
   padding-right: 12px;
}


div.content a{
    text-decoration: none;
    color: black;
}

div.content>p>a{
    font-size: 17px;

}

div.content>h2{
    margin: 5px 0;
}

    /* nội dung giữa */


.contents img{
    width: 65%;
    padding-left: 12px;
}

.contents a{
    color: black;
    text-decoration: none;
}

.contents h3{
    margin-top: 5px;
    width: 90%;
    padding-left: 12px;
}

.contents{
    border-right: 1px solid;
    width: 30%;
}

div.contents div:first-child{
   padding-bottom: 30px;
   border-bottom: 1px solid;
   margin-bottom: 12px;
}

    /* nội dung ngoài cùng */

.contentmini{
    width: 30%;
}



.contentmini h3{
    margin: 0;
    width: 60%;
    min-height: 18px;
}

div.contentmini div{
    position: relative;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid;
}

div.contentmini a{
    color: black;
    text-decoration: none;

}

div.contentmini> div:last-child{
    border: none;
}

.contentmini img{
    width: 35%;
    position: absolute;
    top: 1px;
    right: 1px;
}




/* chỉnh 2 bên */

.ads>div{
    position: absolute;
    width: 14%;
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0;
    margin-top: 5px;
    margin-right: 0;
    border-radius: 10%;

}

.ads>div:first-child{
    left: 1%;
}

.ads>div:last-child{
    right: 1%;
}

    /* thằng này nằm trong div.col15 */

button#TopBtn{
    display: none;
    position: fixed;
    height: 40px;
    bottom: 12.5%;
    left: 95%;
    cursor: pointer;
}

