.flex {
    display: block;
}

/* HEADER */
header img {
    width: 100%;
}

/* NAVIGATION */
nav .flex {
    display: none;
}

/* ADS */

.ads {
    display: none;
}

/* MAIN */

.col15 {
    display: none;
}

.col70 {
    width: 100%;
}

.col70>div {
    text-align: center;
}

body {
    background-color: gray;
}
